<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.redis.dao.user.UserMapper" >
  <resultMap id="BaseResultMap" type="net.redis.dto.user.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="userName" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
    <result column="rank" property="rank" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="alias" property="alias" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="lastLoginTime" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="modifyTime" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="province" property="province" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="INTEGER" />
    <result column="district" property="district" jdbcType="INTEGER" />
    <result column="community" property="community" jdbcType="INTEGER" />
    <result column="pavilionId" property="pavilionId" jdbcType="INTEGER" />
    <result column="pavilionCode" property="pavilionCode" jdbcType="VARCHAR" />
    <result column="lastLoginip" property="lastLoginip" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="points" property="points" jdbcType="DECIMAL" />
    <result column="totalConsume" property="totalConsume" jdbcType="DECIMAL" />
    <result column="unionToken" property="unionToken" jdbcType="VARCHAR" />
    <result column="memberType" property="memberType" jdbcType="INTEGER" />
    <result column="unionType" property="unionType" jdbcType="INTEGER" />
    <result column="channelId" property="channelId" jdbcType="INTEGER" />
    <result column="payPassword" property="payPassword" jdbcType="VARCHAR" />
    <result column="accountType" property="accountType" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, userName,sex, password, mobile, photo, rank, email, alias, createTime, lastLoginTime, 
    modifyTime, province, city, district, community, pavilionId, pavilionCode,lastLoginip, amount, points, totalConsume, 
    unionToken, memberType, unionType, channelId, payPassword,accountType
  </sql>

  <select id="selectUserByMobile" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
     <include refid="Base_Column_List" />
    from user
    where ( mobile = #{mobile,jdbcType=VARCHAR}
    or userName = #{mobile,jdbcType=VARCHAR} )
  </select>
  
</mapper>